:root {
  --color-green: #187a1f;
  --color-black: #000000;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #daeed7;
}

/* Box Model -> Flex */
.et,
.et-container {
  display: flex;
  flex-flow: column;
}
.et {
  width: 90%;
  margin: 40px auto 0;
  justify-content: space-between;
}
.et-container.primary,
.et-container.secondary {
  margin-bottom: 15px;
  padding: 40px;
  justify-content: space-between;
  background: var(--color-white);
  border-radius: 1rem;
}
.et-container.button {
  align-items: center;
}
.et-container.msg {
  display: none;
  height: 100%;
  justify-content: space-between;
}
.et-container.notMsg {
  height: 100%;
  justify-content: center;
}
.et-developerData div {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

/* Text Properties */
h2,
h3,
h6 {
  text-align: center;
  user-select: none;
  font-weight: 100;
}
h2 {
  margin: 20px 0 10px;
  font-size: 22px;
  font-weight: bold;
}
h3 {
  font-size: 16px;
}
h6 {
  margin-bottom: 10px;
  font-size: 12px;
  opacity: 0.7;
}

/* Pictures Properties */
.et-logo {
  height: 30px;
  margin: 0 10px;
  opacity: 0.6;
}
.et-imgWoman {
  display: none;
  width: 60%;
  margin: 0 auto;
}

/* Textarea Properties */
.et-text {
  height: auto;
  width: 100%;
  resize: none;
  font-size: 16px;
}
.et-text.type {
  margin: 10px 0 20px;
  padding: 2%;
  min-height: 10px;
  max-height: calc(77vh - 200px);
}
.et-text::-webkit-scrollbar {
  width: 8px;
}
.et-text::-webkit-scrollbar-track {
  background: #f5f5f5;
}
.et-text::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 1rem;
}

/* Buttons Properties */
.et-button {
  width: 100%;
  padding: 10px 0;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
.et-button.encrypt {
  margin-bottom: 10px;
  background: var(--color-green);
  color: var(--color-white);
}
.et-button.decrypt {
  border: 2px solid var(--color-green);
  background: var(--color-white);
  color: var(--color-black);
}

.et-copy {
  width: 42%;
  margin: 30px auto 0;
  padding: 10px 0;
  background: var(--color-white);
  border-bottom: 2px solid var(--color-green);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  color: var(--color-black);
  cursor: pointer;
}
.et-button:hover,
.et-copy:hover {
  opacity: 0.7;
}
.et-button.decrypt:hover,
.et-copy:hover,
.et-copy:active {
  background: #f5f5f5;
}
.et-copy:active {
  opacity: 1;
}

/* ---------- Tablet Resolution ---------- */
@media screen and (min-width: 768px) {
  .et-container.button {
    flex-direction: row;
    align-items: none;
    justify-content: center;
  }
  .et-button.encrypt {
    width: 42%;
    margin-right: 10px;
  }
  .et-button.decrypt {
    width: 42%;
    margin-left: 10px;
  }
}

/* ---------- Desktop Resolution ---------- */
@media screen and (min-width: 1024px) {
  .et {
    height: 82vh;
    flex-direction: row;
  }
  .et-container.primary {
    flex-basis: 65%;
  }
  .et-container.secondary {
    flex-basis: 32%;
  }
  .et-imgWoman {
    display: block;
  }
  .et-text.show {
    min-height: calc(77vh - 140px);
  }
}
